.elementor-1124 .elementor-element.elementor-element-16c9027c {margin-top: 0;margin-bottom: 0;}
.elementor-1124 .elementor-element.elementor-element-4abdb588>.elementor-widget-container {padding: 0;}
.elementor-1124 .elementor-element.elementor-element-4abdb588 {z-index: 1;width: initial;max-width: initial;}
.elementor-1124 .elementor-element.elementor-element-77de40e0 {text-align: left;width: auto;max-width: auto;align-self: center;}
.elementor-1124 .elementor-element.elementor-element-77de40e0 .elementor-heading-title {color: #fff;font-size: 20px;}
.elementor-1124 .elementor-element.elementor-element-77de40e0>.elementor-widget-container {margin: 0 0 0 -20px;padding: 10px 10px 10px 20px;background-color: #3956a0;border-radius: 0 500px 500px 0;}
.elementor-1124 .elementor-element.elementor-element-1dea173b .elementor-text-editor {text-align: justify;}
.elementor-1124 .elementor-element.elementor-element-1dea173b {font-size: 16px;line-height: 1.3em;}
.elementor-1124 .elementor-element.elementor-element-557597c9 .elementor-heading-title {color: #3956a0;}
.elementor-1124 .elementor-element.elementor-element-557597c9>.elementor-widget-container {padding: 0 0 0 10%;}
.elementor-1124 .elementor-element.elementor-element-79df4cd7 .elementor-text-editor {text-align: justify;}
.elementor-1124 .elementor-element.elementor-element-79df4cd7 {font-size: 16px;line-height: 1.3em;}
.elementor-1124 .elementor-element.elementor-element-79df4cd7>.elementor-widget-container {padding: 0 0 0 10%;}
.elementor-1124 .elementor-element.elementor-element-6142c59f .elementor-text-editor {text-align: justify;}
.elementor-1124 .elementor-element.elementor-element-6142c59f {font-size: 16px;line-height: 1.3em;}
.elementor-1124 .elementor-element.elementor-element-429c8ed4.elementor-position-right .elementor-image-box-img {margin-left: 15px;}
.elementor-1124 .elementor-element.elementor-element-429c8ed4.elementor-position-left .elementor-image-box-img {margin-right: 15px;}
.elementor-1124 .elementor-element.elementor-element-429c8ed4.elementor-position-top .elementor-image-box-img {margin-bottom: 15px;}
.elementor-1124 .elementor-element.elementor-element-429c8ed4 .elementor-image-box-wrapper .elementor-image-box-img {width: 15%;}
.elementor-1124 .elementor-element.elementor-element-429c8ed4 .elementor-image-box-img img {transition-duration: .3s;}
.elementor-1124 .elementor-element.elementor-element-429c8ed4 .elementor-image-box-content .elementor-image-box-title {color: #001b6d;}
.elementor-1124 .elementor-element.elementor-element-429c8ed4 .elementor-image-box-content .elementor-image-box-description {font-size: 16px;line-height: 1.3em;}
.elementor-1124 .elementor-element.elementor-element-177e5e63 .elementor-text-editor {text-align: justify;}
.elementor-1124 .elementor-element.elementor-element-177e5e63 {font-size: 16px;line-height: 1.3em;}
.elementor-1124 .elementor-element.elementor-element-685f8415 .elementor-heading-title {color: #fff;}
.elementor-1124 .elementor-element.elementor-element-685f8415>.elementor-widget-container {margin: 0 0 5%;padding: 15px 20px;background-color: #3956a0;border-radius: 15px;}
.elementor-1124 .elementor-element.elementor-element-685f8415 {width: auto;max-width: auto;align-self: center;}
.elementor-1124 .elementor-element.elementor-element-4786850c .elementor-text-editor {text-align: justify;}
.elementor-1124 .elementor-element.elementor-element-4786850c {font-size: 16px;line-height: 1.3em;}
.elementor-1124 .elementor-element.elementor-element-5205c15c.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {justify-content: center;}
.elementor-1124 .elementor-element.elementor-element-d636d4 .elementor-image img {max-width: 60%;}
.elementor-1124 .elementor-element.elementor-element-7a24d465 .elementor-text-editor {text-align: justify;}
.elementor-1124 .elementor-element.elementor-element-7a24d465 {font-size: 16px;line-height: 1.3em;}
.elementor-1124 .elementor-element.elementor-element-8d27e91 .elementor-heading-title {color: #3956a0;}
.elementor-1124 .elementor-element.elementor-element-8d27e91>.elementor-widget-container {padding: 0 0 0 10%;}
.elementor-1124 .elementor-element.elementor-element-5827da88 .elementor-text-editor {text-align: justify;}
.elementor-1124 .elementor-element.elementor-element-5827da88 {font-size: 16px;line-height: 1.3em;}
.elementor-1124 .elementor-element.elementor-element-5827da88>.elementor-widget-container {padding: 0 0 0 10%;}
@media (min-width:768px) {.elementor-1124 .elementor-element.elementor-element-69609bc8 {width: 33.304%;}
	.elementor-1124 .elementor-element.elementor-element-25316a74 {width: 33.304%;}
	.elementor-1124 .elementor-element.elementor-element-5205c15c {width: 33.058%;}}
@media (max-width:1024px) {.elementor-1124 .elementor-element.elementor-element-4abdb588 {align-self: center;}
	.elementor-1124 .elementor-element.elementor-element-77de40e0 .elementor-heading-title {font-size: 16px;}
	.elementor-1124 .elementor-element.elementor-element-77de40e0>.elementor-widget-container {margin: 0 0 0 -25px;padding: 5px 10px 5px 20px;}
	.elementor-1124 .elementor-element.elementor-element-685f8415 .elementor-heading-title {font-size: 16px;}
	.elementor-1124 .elementor-element.elementor-element-685f8415>.elementor-widget-container {margin: 0 0 0 -25px;padding: 5px 10px 5px 20px;}}
@media (max-width:767px) {.elementor-1124 .elementor-element.elementor-element-429c8ed4 .elementor-image-box-img {margin-bottom: 15px;}}